@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
}

/* contact section */


#Contact {
    background-image: url('/static/csss/img.jpg');
    height: auto;
    margin-top: 30px;
    padding-bottom: 60px;
}
#Contact h2 {
    color: white;
    padding-top: 15px;
}

#Contact .text-size {
    font-size: 20px;
}

#Contact .border-color {
    border: 2px solid #ba2c04;
}

#Contact .btn-submit {
    background-color: #ba2c04;
    color: white;
}

#Contact .btn-submit:hover {
    background-color: rgb(0, 4, 255);
}

#txtname,
#txtemail,
#txtphone,
#ta_msg {
    background-color: transparent;
    color: white;
}